.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input-box label {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
}

.input-box input, 
.input-box textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}
