.status-btn {
  padding: 6px 12px;
  font-size: 13px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

/* Green when marking completed */
.done-btn {
  background-color: #28a745;
  color: white;
}

/* Yellow when marking pending */
.pending-btn {
  background-color: #f0ad4e;
  color: white;
}
